terrakube_api_url  = "https://terrakube-api.platform.local"
terrakube_hostname = "terrakube-api.platform.local"
terrakube_pat      = "USER_PAT_TOKEN"
organization_name  = "simple"
vcs_id             = "11111111-1111-1111-1111-111111111111"
policy_repo        = "terrakube-io/terrakube-opa-reference"
policy_branch      = "main"
workspace_prefix   = "opa-eval-"
iac_version        = "1.5.7"
